#fbc_dd_nofiledrag {
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0; 
}

#fbc_dd_filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 1px dashed #999999;
	border-radius: 7px;
	cursor: default;
}

#fbc_dd_filedrag.hover
{
	color: #f99;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#fbc_dd_messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

.fbc_dd_image {
    max-height: 100px;
    width: auto;
}
#fbc_dd_progress p
{
	display: block;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("images/progress.png") 100% 0 repeat-y;
}

#fbc_dd_progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}
#fbc_dd_progress p.success:before {
   content: "OK! ";
}

#fbc_dd_progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}
#fbc_dd_progress p.failed:before {
   content: "Failed! ";
}
#fbc_dd_progress p.toobig
{
	background: #c00 none 0 0 no-repeat;
}
#fbc_dd_progress p.toobig:before {
   content: "Too Large! ";
}

#fbc_dd_dialogform {
  display: none;
  width: 600px;
  position: absolute; /* fixed;*/
  top: 10px;
  left: 150px;
  background-color: #ffffff;
  border-style: solid;
  border-width: thin;
  border-color: #888888;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 10px 10px 5px #888888;
  margin: 2em;
  text-align: left;
  font-size: 90%;
  font-family: Sans-Serif;
}
.fbc_dd_showhide {
  width: 100%; text-align: right;
}
.fbc_dd_grabbutton {
  font-size: 75%;
}
.fbc_dd_dialog_title {
	width: 100%;
	font-size: 120%;
	text-align: center;
	background-image: url('images/panel.jpg');
	background-repeat: repeat-x;
  border-style: outset;
  border-width: thin;
  border-color: #cccccc;
  border-radius: 10px;
  padding-top: .3em;
  padding-bottom: .4em;
}

#fbc_dd_dialogform h2 {
font-size: 90%;
font-style: bold;
}

.fbc_dd_url {
	font-size: 75%;
}
.fbc_input_active {
  background-color: #ffffff;
}
.fbc_input_ok {
  background-color: #ddffdd;
}